In [6]:
import pandas as pd

In [3]:
df = pd.read_csv('green_tripdata_2019-10.csv.gz', nrows=100)

In [4]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1,112,196,1,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2,1,0.0
1,1,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1,43,263,1,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2,1,0.0
2,1,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1,255,228,2,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2,1,0.0
3,1,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1,181,181,1,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2,1,0.0
4,2,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1,97,188,1,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1,1,0.0

In [13]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [7]:
from sqlalchemy import create_engine

In [8]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [9]:
engine.connect()

In [21]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [60]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [55]:
df = next(df_iter)

In [59]:
len(df)

100000

In [56]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [49]:
df.head(0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [57]:
df.head(0).to_sql(con=engine, name='yellow_taxi_data', if_exists='replace') # create the table definition only

0

In [51]:
%time df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append') # inserts the first chunk

CPU times: user 3.74 s, sys: 167 ms, total: 3.91 s
Wall time: 5.8 s

1000

In [52]:
from time import time

In [61]:
# insert the rest of the data
while True:
    t_start = time()
    df = next(df_iter)
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(con=engine, name='yellow_taxi_data', if_exists='append')

    print(f'Chunk inserted in {time() - t_start:.2f} sec')

Chunk inserted in 5.71 sec
Chunk inserted in 5.64 sec
Chunk inserted in 5.87 sec
Chunk inserted in 5.68 sec
Chunk inserted in 5.82 sec
Chunk inserted in 5.68 sec
Chunk inserted in 5.73 sec
Chunk inserted in 5.68 sec
Chunk inserted in 5.72 sec
Chunk inserted in 5.67 sec
Chunk inserted in 5.72 sec
Chunk inserted in 6.09 sec

/var/folders/t9/xlhk4r2d6cx3vprq4mlz2v5h0000gn/T/ipykernel_60967/1560558791.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Chunk inserted in 5.59 sec
Chunk inserted in 3.78 sec

StopIteration:

In [5]:
# upload zones data
df = pd.read_csv('taxi_zone_lookup.csv')

In [10]:
df.head(0).to_sql(con=engine, name='taxi_zones', if_exists='replace') # create the table definition only

0

In [11]:
%time df.to_sql(con=engine, name='taxi_zones', if_exists='append')

CPU times: user 7.72 ms, sys: 1.76 ms, total: 9.47 ms
Wall time: 18.5 ms

265